In [1]:
import os
import sys

from matplotlib import pyplot as plt
from matplotlib import patches
from matplotlib import colors
import pretty_midi
import pandas as pd
import IPython.display as ipd
import libfmp.c1

from utils.midi import *

In [2]:
path = './data/maestro-v3.0.0_midi/2004/MIDI-Unprocessed_SMF_02_R1_2004_01-05_ORIG_MID--AUDIO_02_R1_2004_05_Track05_wav.midi'
midi_data = pretty_midi.PrettyMIDI(path)
df = midi_to_df(midi_data)

In [3]:
df

           Start         End  Pitch  Velocity Instrument
0       1.092708    1.189583     71        60
1       1.279167    1.496875     55        44
2       1.288542    1.793750     71        54
3       1.463542    1.631250     59        55
4       1.633333    1.753125     62        52
...          ...         ...    ...       ...        ...
7889  965.256250  965.309375     47        76
7890  965.264583  968.256250     62        76
7891  965.567708  965.605208     50        73
7892  965.567708  968.208333     59        68
7893  966.051042  968.163542     55        71

[7894 rows x 5 columns]

In [4]:
midi_data2 = df_to_midi(df)

In [5]:
midi_data2.instruments

[Instrument(program=0, is_drum=False, name="")]

In [6]:
df2 = midi_to_df(midi_data2)
df2

           Start         End  Pitch  Velocity Instrument
0       1.092708    1.189583     71        60
1       1.279167    1.496875     55        44
2       1.288542    1.793750     71        54
3       1.463542    1.631250     59        55
4       1.633333    1.753125     62        52
...          ...         ...    ...       ...        ...
7889  965.256250  965.309375     47        76
7890  965.264583  968.256250     62        76
7891  965.567708  965.605208     50        73
7892  965.567708  968.208333     59        68
7893  966.051042  968.163542     55        71

[7894 rows x 5 columns]

In [ ]:
Fs = 22050
audio_data = midi_data.synthesize(fs=Fs)
ipd.Audio(audio_data, rate=Fs)

In [ ]:
Fs = 22050
audio_data = midi_data2.synthesize(fs=Fs)
ipd.Audio(audio_data, rate=Fs)

In [ ]:
score = midi_to_list(midi_data)
libfmp.c1.visualize_piano_roll(score, figsize=(16, 9), velocity_alpha=True);